<egsch-page-wrapper>
  <router-outlet></router-outlet>

  <egsch-container>
    <h1>Egsch</h1>
    <egsch-fixed-grid minWidth="8rem">
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
      <egsch-card><h1>Test</h1></egsch-card>
    </egsch-fixed-grid>
  </egsch-container>
</egsch-page-wrapper>
